In [1]:
import pandas as pd

In [17]:
surface = pd.read_csv('src/superficie.csv', header = None)
bathrooms = pd.read_csv('src/nombre_de_sdb.csv', header = None)
rooms = pd.read_csv('src/nombre_de_chambres.csv', header = None)
house_price = pd.read_csv('src/house_price.csv', index_col=0)

In [18]:
print("Surface:")
display(surface.head())
print()
print("Bathrooms")
display(bathrooms.head())
print()
print("Rooms")
display(rooms.head())
print()
print("House prices")
display(house_price.head())

Surface:

   0      1
0  0  28844
1  1  27667
2  2  14742
3  3  28089
4  4  11713

Bathrooms

   0  1
0  0  2
1  1  1
2  2  1
3  3  3
4  4  1

Rooms

   0  1
0  0  1
1  1  4
2  2  1
3  3  4
4  4  2

House prices

   id  house_price
0  14    1918154.0
1  30     739142.0
2  70    1621938.0
3  77    1319862.0
4  50     146250.0

In [20]:
surface.columns = ['id', 'surface']
bathrooms.columns = ['id','bathrooms']
rooms.columns = ['id', 'rooms']

In [21]:
print("Surface:")
display(surface.head())
print()
print("Bathrooms")
display(bathrooms.head())
print()
print("Rooms")
display(rooms.head())
print()
print("House prices")
display(house_price.head())

Surface:

   id  surface
0   0    28844
1   1    27667
2   2    14742
3   3    28089
4   4    11713

Bathrooms

   id  bathrooms
0   0          2
1   1          1
2   2          1
3   3          3
4   4          1

Rooms

   id  rooms
0   0      1
1   1      4
2   2      1
3   3      4
4   4      2

House prices

   id  house_price
0  14    1918154.0
1  30     739142.0
2  70    1621938.0
3  77    1319862.0
4  50     146250.0

In [22]:
dataset = surface.merge(bathrooms, on='id').merge(rooms, on='id').merge(house_price, on='id')

In [23]:
dataset['surface'].mean()

np.float64(20439.77)

In [25]:
dataset['rooms'].median()

np.float64(2.0)

In [26]:
dataset['rooms'].mean()

np.float64(2.42)

In [27]:
print("The average number of room is {}, and the median number is {}"
      .format(dataset['rooms'].mean(), dataset['rooms'].median()))

The average number of room is 2.42, and the median number is 2.0

In [28]:
dataset['house_price'].mean()

np.float64(767747.87)

In [30]:
display(dataset.groupby('rooms')['house_price'].mean())

rooms
1    980774.869565
2    642086.258065
3    645904.592593
4    888045.631579
Name: house_price, dtype: float64

In [31]:
dataset['home_size'] = dataset['surface'].apply(lambda x : 'very large' if x > 25000
                                                      else 'large' if (x > 20000) and (x <= 25000)
                                                      else 'medium' if (x > 15000) and (x <= 20000)
                                                      else 'small' if (x > 10000) and (x <= 15000)
                                                      else 'very small')
display(dataset)

    id  surface  bathrooms  rooms  house_price   home_size
0    0    28844          2      1    1421908.0  very large
1    1    27667          1      4    1305091.0  very large
2    2    14742          1      1     164373.0       small
3    3    28089          3      4    1441714.0  very large
4    4    11713          1      2     108290.0       small
..  ..      ...        ...    ...          ...         ...
95  95    11417          3      3     132599.0       small
96  96    12126          1      2     155828.0       small
97  97    16390          1      2     237061.0      medium
98  98    23738          1      2     976422.0       large
99  99    14613          2      2     183621.0       small

[100 rows x 6 columns]

In [33]:
dataset.groupby('home_size')['house_price'].mean()

home_size
large         7.325385e+05
medium        3.256948e+05
small         1.561387e+05
very large    1.552456e+06
Name: house_price, dtype: float64

In [34]:
import plotly.express as px
fig = px.scatter(dataset, x = "surface", y = "house_price", trendline = "ols")
fig.show()