In [3]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns 
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, OneHotEncoder, LabelEncoder, label_binarize
from sklearn.compose import ColumnTransformer
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import roc_curve, auc, confusion_matrix, accuracy_score, precision_score, precision_recall_curve, average_precision_score, classification_report
from sklearn.datasets import load_iris
from itertools import cycle
import lime
import lime.lime_tabular

In [4]:
a = 10

print(a+15)
print(a-5)
print(a*2)
print(a/2)
print(a**2)

25
5
20
5.0
100

In [5]:
b = 32
print(a+b)
print(a/b)
print(a**b)

42
0.3125
100000000000000000000000000000000

In [6]:
c = a*b
print(c)

320

In [7]:
total_nb_of_friends = input ("How many friends traveled with you?")
total_amount_spent = input ("How much did you spend during your trip?")

print(total_nb_of_friends)
print(total_amount_spent)

4
350

In [8]:
print("Totat number of friends: {}".format(total_nb_of_friends))
print("Totat amount spent: {}".format(total_amount_spent))

Totat number of friends: 4
Totat amount spent: 350

In [9]:
total_amount_spent/total_nb_of_friends

TypeError: unsupported operand type(s) for /: 'str' and 'str'

In [ ]:
type(total_amount_spent)

str

In [ ]:
total_amount_spent + total_nb_of_friends

'3505'

In [ ]:
first_name = "Antoine"
last_name = "Krajc"
first_name + last_name

'AntoineKrajc'

In [ ]:
total_amount_spent = int(total_amount_spent)
total_nb_of_friends = int(total_nb_of_friends)

print(type(total_amount_spent))

<class 'int'>

In [ ]:
split_amount = total_amount_spent/total_nb_of_friends
print("Each person should pay: {}€".format(split_amount))

Each person should pay: 70.0€