In [2]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.compose import ColumnTransformer
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
import warnings


# Ignorer les warnings de dépréciation pour un code plus propre
warnings.filterwarnings("ignore", category=DeprecationWarning)

# Importation de Plotly pour la visualisation des données
import plotly.express as px
import plotly.graph_objects as go
import plotly.io as pio

# Définir une palette de couleurs personnalisée pour Plotly
jedha_template = go.layout.Template(
    layout=go.Layout(
        colorway=["#4B9AC7", "#4BE8E0", "#9DD4F3", "#97FBF6", "#2A7FAF", "#23B1AB", "#0E3449", "#015955"]
    )
)
pio.templates["jedha"] = jedha_template

# Spécifier le renderer par défaut pour les graphiques
pio.renderers.default = "svg"

# The dataset
Load the California Housing dataset again:

In [3]:
from sklearn import datasets

# Télécharger les données California Housing et les charger dans un DataFrame Pandas
data = datasets.fetch_california_housing()

# Créer un DataFrame à partir des features et ajouter la variable cible 'Price'
dataset = pd.DataFrame(data=data["data"], columns=data["feature_names"])
dataset['Price'] = data["target"]

# Afficher les premières lignes du DataFrame
dataset.head()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,Price
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23,4.526
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22,3.585
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24,3.521
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25,3.413
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25,3.422

remove the outliers:

In [4]:
# Création d'un masque pour filtrer les outliers
mask = (
    (dataset['AveRooms'] < 10) &
    (dataset['AveBedrms'] < 10) &
    (dataset['Population'] < 15000) &
    (dataset['AveOccup'] < 10) &
    (dataset['Price'] < 5)
)

# Appliquer le masque pour filtrer le dataset
dataset_filtered = dataset.loc[mask].copy()  # Utiliser .copy() pour éviter des copies d'avertissement

In [5]:
# Affichage du nombre de lignes dans le dataset
print(f"Number of rows: {dataset_filtered.shape[0]}\n")

# Affichage des premières lignes du dataset filtré
print("Display of dataset (first 5 rows):")
display(dataset_filtered.head())
print()

# Statistiques descriptives de base pour le dataset
print("Basic statistics: ")
data_desc = dataset_filtered.describe(include='all')
display(data_desc)
print()

# Calcul et affichage du pourcentage de valeurs manquantes par colonne
print("Percentage of missing values per column: ")
missing_values = (100 * dataset_filtered.isnull().sum() / dataset_filtered.shape[0]).round(2)
display(missing_values)

Number of rows: 19398

Display of dataset (first 5 rows):

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,Price
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23,4.526
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22,3.585
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24,3.521
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25,3.413
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25,3.422

Basic statistics:

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,Price
count,19398.000000,19398.000000,19398.000000,19398.000000,19398.000000,19398.000000,19398.000000,19398.000000,19398.000000
mean,3.674497,28.496907,5.210648,1.066038,1442.172080,2.944640,35.637872,-119.567484,1.924128
std,1.563397,12.477953,1.168098,0.128846,1077.498768,0.766194,2.142960,2.004793,0.971784
min,0.499900,1.000000,0.846154,0.333333,3.000000,0.750000,32.540000,-124.350000,0.149990
25%,2.525900,18.000000,4.407329,1.005413,805.000000,2.450413,33.930000,-121.770000,1.167000
50%,3.447800,29.000000,5.170038,1.047619,1185.500000,2.842105,34.260000,-118.490000,1.741000
75%,4.583175,37.000000,5.944617,1.096884,1752.000000,3.308127,37.720000,-118.000000,2.485000
max,15.000100,52.000000,9.979167,3.411111,13251.000000,9.954545,41.950000,-114.550000,4.991000

Percentage of missing values per column:

MedInc        0.0
HouseAge      0.0
AveRooms      0.0
AveBedrms     0.0
Population    0.0
AveOccup      0.0
Latitude      0.0
Longitude     0.0
Price         0.0
dtype: float64

Separate the target from the features

In [6]:
# Séparation de la variable cible Y et des features X
print("Separating labels from features...")

# La variable cible
target_variable = "Price"

# Sélection de toutes les features sauf 'Price'
X = dataset_filtered.drop(target_variable, axis=1)  # On supprime la colonne 'Price' pour obtenir X
Y = dataset_filtered[target_variable]  # On garde uniquement la colonne 'Price' comme variable cible

print("...Done.")
print()

# Affichage des premières lignes de Y (variable cible)
print('Y (Target - Price) :')
print(Y.head())
print()

# Affichage des premières lignes de X (features)
print('X (Features) :')
print(X.head())

Separating labels from features...
...Done.

Y (Target - Price) :
0    4.526
1    3.585
2    3.521
3    3.413
4    3.422
Name: Price, dtype: float64

X (Features) :
   MedInc  HouseAge  AveRooms  AveBedrms  Population  AveOccup  Latitude  \
0  8.3252      41.0  6.984127   1.023810       322.0  2.555556     37.88
1  8.3014      21.0  6.238137   0.971880      2401.0  2.109842     37.86
2  7.2574      52.0  8.288136   1.073446       496.0  2.802260     37.85
3  5.6431      52.0  5.817352   1.073059       558.0  2.547945     37.85
4  3.8462      52.0  6.281853   1.081081       565.0  2.181467     37.85

   Longitude
0    -122.23
1    -122.22
2    -122.24
3    -122.25
4    -122.25

# From linear to non-linear regression

An easy way of implementing a non-linear regression is to create by hand more columns containing non-linear functions of the features.

For each explanatory variable, create 3 new columns in X containing the following functions:
X 2
 
X 3
 
X 4

1/X
 
1 / X2

In [7]:
# Génération des features polynomiales et inverses pour chaque feature existante
features_list = X.columns

for c in features_list:
    X[c + '_2'] = X[c] ** 2
    X[c + '_3'] = X[c] ** 3
    X[c + '_4'] = X[c] ** 4
    
    # Gestion des divisions par zéro pour les inverses
    X[c + '_inverse'] = X[c].replace(0, np.nan).apply(lambda x: 1/x if x != 0 else np.nan)
    X[c + '_inverse2'] = X[c].replace(0, np.nan).apply(lambda x: 1/(x**2) if x != 0 else np.nan)

# Afficher les premières lignes du DataFrame transformé
X.head()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,MedInc_2,MedInc_3,...,Latitude_2,Latitude_3,Latitude_4,Latitude_inverse,Latitude_inverse2,Longitude_2,Longitude_3,Longitude_4,Longitude_inverse,Longitude_inverse2
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23,69.308955,577.010912,...,1434.8944,54353.799872,2.058922e+06,0.026399,0.000697,14940.1729,-1.826137e+06,2.232088e+08,-0.008181,0.000067
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22,68.913242,572.076387,...,1433.3796,54267.751656,2.054577e+06,0.026413,0.000698,14937.7284,-1.825689e+06,2.231357e+08,-0.008182,0.000067
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24,52.669855,382.246204,...,1432.6225,54224.761625,2.052407e+06,0.026420,0.000698,14942.6176,-1.826586e+06,2.232818e+08,-0.008181,0.000067
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25,31.844578,179.702136,...,1432.6225,54224.761625,2.052407e+06,0.026420,0.000698,14945.0625,-1.827034e+06,2.233549e+08,-0.008180,0.000067
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25,14.793254,56.897815,...,1432.6225,54224.761625,2.052407e+06,0.026420,0.000698,14945.0625,-1.827034e+06,2.233549e+08,-0.008180,0.000067

Split your dataset into train (80%) and test (20%)

In [8]:
# Division du dataset en ensembles d'entraînement et de test
print("Dividing dataset into train and test sets...")

# Division avec 80% pour l'entraînement et 20% pour le test
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, random_state=0)

print("...Done.")
print()

# Affichage des dimensions des ensembles d'entraînement et de test
print(f"X_train shape: {X_train.shape}")
print(f"X_test shape: {X_test.shape}")
print(f"Y_train shape: {Y_train.shape}")
print(f"Y_test shape: {Y_test.shape}")

Dividing dataset into train and test sets...
...Done.

X_train shape: (15518, 48)
X_test shape: (3880, 48)
Y_train shape: (15518,)
Y_test shape: (3880,)

Apply the same preprocessing as in the previous exercise

In [9]:
# Prétraitement : standardisation des features de X_train
print("Preprocessing X_train...")
print("First 5 rows of X_train before scaling:")
print(X_train.head())  # Afficher les premières lignes avant la standardisation
print()

# Initialiser le scaler et ajuster/transformer X_train
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)  # Transformer et standardiser les données

print("...Done!")
print("First 5 rows of X_train after scaling:")
print(X_train_scaled[:5, :])  # Afficher les 5 premières lignes après transformation (maintenant tableau numpy)

Preprocessing X_train...
First 5 rows of X_train before scaling:
       MedInc  HouseAge  AveRooms  AveBedrms  Population  AveOccup  Latitude  \
3235   2.3889       6.0  6.316614   1.294671       992.0  3.109718     36.09
13981  3.4912       7.0  8.355308   1.554795      2933.0  2.511130     34.85
9219   1.9464      36.0  4.975510   1.053061       639.0  2.608163     37.12
10851  3.1667      22.0  3.803838   1.000000      1952.0  2.081023     33.66
8888   4.2520      31.0  3.978296   1.039389      1985.0  1.595659     34.03

       Longitude   MedInc_2   MedInc_3  ...  Latitude_2    Latitude_3  \
3235     -119.57   5.706843  13.633078  ...   1302.4881  47006.795529
13981    -117.46  12.188477  42.552412  ...   1214.5225  42326.109125
9219     -120.27   3.788473   7.373884  ...   1377.8944  51147.440128
10851    -117.90  10.027989  31.755632  ...   1132.9956  38136.631896
8888     -118.49  18.079504  76.874051  ...   1158.0409  39408.131827

         Latitude_4  Latitude_inverse  Latitude_inverse2  Longitude_2  \
3235   1.696475e+06          0.027709           0.000768   14296.9849
13981  1.475065e+06          0.028694           0.000823   13796.8516
9219   1.898593e+06          0.026940           0.000726   14464.8729
10851  1.283679e+06          0.029709           0.000883   13900.4100
8888   1.341059e+06          0.029386           0.000864   14039.8801

        Longitude_3   Longitude_4  Longitude_inverse  Longitude_inverse2
3235  -1.709490e+06  2.044038e+08          -0.008363            0.000070
13981 -1.620578e+06  1.903531e+08          -0.008514            0.000072
9219  -1.739690e+06  2.092325e+08          -0.008315            0.000069
10851 -1.638858e+06  1.932214e+08          -0.008482            0.000072
8888  -1.663585e+06  1.971182e+08          -0.008440            0.000071

[5 rows x 48 columns]

...Done!
First 5 rows of X_train after scaling:
[[-8.19927084e-01 -1.80892400e+00  9.55328430e-01  1.78190047e+00
  -4.16134941e-01  2.18006083e-01  2.11764744e-01 -2.73283112e-03
  -7.23284862e-01 -5.55080709e-01 -3.80952185e-01  5.13008216e-01
   1.82695953e-01 -1.26498533e+00 -9.49143480e-01 -7.60926697e-01
   2.46604354e+00  1.09423468e+00  9.05288599e-01  8.03814419e-01
   6.69053879e-01 -8.33507043e-01 -6.12210207e-01  1.45391405e+00
   1.00467627e+00  5.75774220e-01 -1.89314156e+00 -1.63270329e+00
  -3.05939544e-01 -1.69174011e-01 -9.87311791e-02 -7.12692942e-02
  -2.04111800e-02  7.67587648e-02 -3.41707972e-02 -8.53015365e-02
  -4.40113786e-01 -4.73219971e-01  1.80503284e-01  1.49155312e-01
   1.17863833e-01 -2.73488382e-01 -3.03698049e-01 -5.61484636e-03
   1.39454572e-02 -2.22561768e-02  1.94679289e-02 -2.78495433e-02]
 [-1.12594285e-01 -1.72879039e+00  2.70646520e+00  3.80387675e+00
   1.40114366e+00 -5.61637519e-01 -3.67622089e-01  1.05246805e+00
  -2.62141004e-01 -3.10620943e-01 -2.74973750e-01 -2.65306230e-01
  -2.83619984e-01 -1.24741974e+00 -9.45845287e-01 -7.60362987e-01
   1.96672692e+00  7.45073583e-01  3.26850856e+00  3.77972789e+00
   4.19399159e+00 -1.55246631e+00 -9.56925512e-01  3.50865239e+00
   2.78195771e+00  1.86697024e+00 -3.27882867e+00 -2.58813351e+00
   7.43881852e-01  2.21042406e-01  1.76449119e-02 -2.25648180e-01
  -2.13585561e-02 -5.33045492e-01 -4.27860803e-01 -2.89717698e-01
   4.03652832e-01  2.60892706e-01 -3.88044989e-01 -4.07351745e-01
  -4.25444967e-01  3.23827337e-01  3.00657881e-01 -1.04888652e+00
   1.04525437e+00 -1.04157365e+00 -1.05947081e+00  1.06288768e+00]
 [-1.10387407e+00  5.95084207e-01 -1.96613519e-01 -9.61635976e-02
  -7.46634346e-01 -4.35254612e-01  6.93029614e-01 -3.52799474e-01
  -8.59769679e-01 -6.07990677e-01 -3.97595329e-01  1.07342507e+00
   6.26727101e-01  4.37526139e-01  2.56904104e-01  9.52600265e-02
  -4.46636708e-01 -1.85276619e-01 -2.91185513e-01 -3.53787141e-01
  -3.82679154e-01 -3.92891472e-02 -1.20046672e-01 -1.18532973e-01
  -1.16790980e-01 -9.65102839e-02  7.14415544e-03 -3.88173782e-02
  -3.85277113e-01 -1.80681447e-01 -1.00008571e-01  5.75996517e-02
  -1.89028085e-02 -4.43014745e-01 -3.75116411e-01 -2.64955433e-01
   2.40572805e-01  1.06816507e-01  6.67877004e-01  6.41454463e-01
   6.13831348e-01 -7.39304271e-01 -7.60341444e-01  3.44597377e-01
  -3.36346945e-01  3.28051163e-01  3.69046705e-01 -3.77085853e-01]
 [-3.20822075e-01 -5.26786290e-01 -1.20302182e+00 -5.08615628e-01
   4.82673641e-01 -1.12183932e+00 -9.23646549e-01  8.32426160e-01
  -4.15851626e-01 -4.01887853e-01 -3.18828885e-01 -9.24595537e-02
  -1.95163473e-01 -6.59647921e-01 -6.78224263e-01 -6.42083295e-01
  -7.59319495e-02 -1.23944672e-01 -1.10389164e+00 -9.65869120e-01
  -8.16083395e-01  1.11295801e+00  8.01812074e-01 -4.20522882e-01
  -3.04516180e-01 -1.94276966e-01  5.47452051e-01  4.74271237e-01
   8.35172295e-02 -6.52201289e-02 -7.71399932e-02 -1.85996350e-01
  -2.12046505e-02 -8.91021067e-01 -6.16512753e-01 -3.69609622e-01
   1.30962474e+00  1.22319982e+00 -9.14977997e-01 -9.05456817e-01
  -8.95078073e-01  9.38440688e-01  9.44569688e-01 -8.32865022e-01
   8.33219788e-01 -8.33491508e-01 -8.31291937e-01  8.30594457e-01]
 [ 3.75602027e-01  1.94416173e-01 -1.05317117e+00 -2.02439111e-01
   5.13570186e-01 -1.75401259e+00 -7.50764994e-01  5.37369990e-01
   1.56983344e-01 -2.04946370e-02 -1.12056174e-01 -5.67114060e-01
  -4.17401511e-01 -1.51257206e-02 -1.81080230e-01 -2.90458133e-01
  -3.52679281e-01 -1.72532861e-01 -9.96627544e-01 -8.94670953e-01
  -7.71902154e-01  8.98387217e-01  6.11500015e-01 -1.97838864e-01
  -1.67025046e-01 -1.23162844e-01  1.41088055e-01  8.59063564e-02
   1.01420385e-01 -5.90481832e-02 -7.55354671e-02 -1.87967228e-01
  -2.12137601e-02 -1.21445439e+00 -7.53373793e-01 -4.16278116e-01
   2.91854846e+00  3.37649337e+00 -7.53102650e-01 -7.54282690e-01
  -7.54276641e-01  7.42737642e-01  7.37110170e-01 -5.41932175e-01
   5.46406461e-01 -5.50792249e-01 -5.27984496e-01  5.23162565e-01]]

In [10]:
# Prétraitement : standardisation des features de X_test (ne pas refitter le scaler)
print("Preprocessing X_test...")
print("First 5 rows of X_test before scaling:")
print(X_test.head())  # Afficher les premières lignes avant la standardisation
print()

# Appliquer la transformation déjà ajustée sur X_test
X_test_scaled = scaler.transform(X_test)  # Ne pas refitter, utiliser le scaler ajusté avec X_train

print("...Done!")
print("First 5 rows of X_test after scaling:")
print(X_test_scaled[:5, :])  # Afficher les 5 premières lignes après transformation (maintenant tableau numpy)

Preprocessing X_test...
First 5 rows of X_test before scaling:
       MedInc  HouseAge  AveRooms  AveBedrms  Population  AveOccup  Latitude  \
17333  5.2990      12.0  7.214932   1.047511      1200.0  2.714932     34.91
1012   2.6667      44.0  4.541284   1.027523       277.0  2.541284     37.68
5124   1.5521      30.0  3.850679   1.002262      1966.0  4.447964     33.99
1845   6.3538      49.0  6.293886   1.017751      1148.0  2.264300     37.90
4035   3.2154      20.0  4.133444   1.060181      7450.0  1.772122     34.17

       Longitude   MedInc_2    MedInc_3  ...  Latitude_2    Latitude_3  \
17333    -120.44  28.079401  148.792746  ...   1218.7081  42545.099771
1012     -121.77   7.111289   18.963674  ...   1419.7824  53497.400832
5124     -118.26   2.409014    3.739031  ...   1155.3201  39269.330199
1845     -122.28  40.370774  256.507827  ...   1436.4100  54439.939000
4035     -118.52  10.338797   33.243368  ...   1167.5889  39896.512713

         Latitude_4  Latitude_inverse  Latitude_inverse2  Longitude_2  \
17333  1.485249e+06          0.028645           0.000821   14505.7936
1012   2.015782e+06          0.026539           0.000704   14827.9329
5124   1.334765e+06          0.029420           0.000866   13985.4276
1845   2.063274e+06          0.026385           0.000696   14952.3984
4035   1.363264e+06          0.029265           0.000856   14046.9904

        Longitude_3   Longitude_4  Longitude_inverse  Longitude_inverse2
17333 -1.747078e+06  2.104180e+08          -0.008303            0.000069
1012  -1.805597e+06  2.198676e+08          -0.008212            0.000067
5124  -1.653917e+06  1.955922e+08          -0.008456            0.000072
1845  -1.828379e+06  2.235742e+08          -0.008178            0.000067
4035  -1.664849e+06  1.973179e+08          -0.008437            0.000071

[5 rows x 48 columns]

...Done!
First 5 rows of X_test after scaling:
[[ 1.04744947 -1.32812236  1.72693875 -0.13930381 -0.22139308 -0.29619119
  -0.33958724 -0.43781566  0.86843834  0.5874456   0.30968356 -0.84075904
  -0.5159755  -1.11905578 -0.90987681 -0.75100948  0.71843539  0.10718311
   1.86566728  1.9136803   1.86970038 -1.20037727 -0.80008105 -0.15085042
  -0.13734077 -0.10745539  0.06109415  0.01122288 -0.24311142 -0.15707881
  -0.09697008 -0.11170421 -0.02074989 -0.34000705 -0.31236615 -0.23432195
   0.07460051 -0.04399513 -0.36099219 -0.381315   -0.40045361  0.29394803
   0.2699244   0.42995743 -0.42203602  0.41405428  0.45333115 -0.46098272]
 [-0.64166613  1.23615306 -0.56959193 -0.29467615 -1.08556008 -0.52236244
   0.95468818 -1.10294228 -0.62336384 -0.51002032 -0.3645038   0.25621231
   0.00951432  1.30229387  1.25747691  1.15048496 -0.55255235 -0.19736173
  -0.61767668 -0.61894617 -0.58410907  0.31839396  0.13978309 -0.26582877
  -0.20956556 -0.14545784  0.26022794  0.19821476 -0.4309706  -0.18453718
  -0.10026486  0.53087518 -0.00776121 -0.50543281 -0.41189701 -0.28232257
   0.35163994  0.21111713  0.93861181  0.92085146  0.90139632 -0.9818765
  -0.99304936  1.1019359  -1.10081496  1.09957975  1.10461025 -1.10527128]
 [-1.35689169  0.11428257 -1.16278792 -0.49102935  0.49578127  1.96103359
  -0.76945489  0.65239189 -0.95791296 -0.63871667 -0.40540653  1.84202965
   1.38311784 -0.0975489  -0.25356255 -0.34837031 -0.3301295  -0.16919133
  -1.07556422 -0.94737757 -0.80480034  1.05343787  0.74816593 -0.40796513
  -0.29690478 -0.19041277  0.52324656  0.45071769  0.09107585 -0.06262699
  -0.07646913 -0.18684056 -0.02120857  1.90985526  1.56764567  1.04760426
  -1.50508639 -1.17657331 -0.770688   -0.77078542 -0.76972167  0.76368932
   0.75921207 -0.65551939  0.65855566 -0.66150072 -0.64586306  0.64246175]
 [ 1.72430209  1.6368211   0.9358055  -0.37063099 -0.27007855 -0.88312705
   1.05748262 -1.35799084  1.74292326  1.49797843  1.07840409 -1.02524811
  -0.57023635  1.93060168  2.10059351  2.17929714 -0.60118709 -0.20210127
   0.8826435   0.77946155  0.64457406 -0.82286628 -0.60638893 -0.3212306
  -0.24386686 -0.16324644  0.36042239  0.29366232 -0.25993629 -0.1605385
  -0.09750664 -0.10296914 -0.02068216 -0.7466802  -0.54470154 -0.34096594
   0.88149021  0.7459781   1.04608102  1.0329139   1.01793387 -1.0752115
  -1.08166055  1.36156934 -1.36506597  1.36847997  1.35059093 -1.34677083]
 [-0.28957186 -0.6870535  -0.9199063  -0.04082233  5.63022529 -1.52417501
  -0.68535035  0.52236713 -0.39373879 -0.38931178 -0.31304515 -0.12062489
  -0.2101655  -0.77314869 -0.74699287 -0.67996463  0.01939213 -0.1033879
  -0.89719541 -0.82587914 -0.72741018  0.72278193  0.46209728 -0.07682535
  -0.09011024 -0.08221399 -0.06123709 -0.10186308  7.20671833  6.46746505
   4.80836576 -0.27348561 -0.02146196 -1.10674406 -0.71182849 -0.40342646
   2.23163223  2.38761548 -0.69139104 -0.69621697 -0.69978852  0.66979306
   0.66036381 -0.52710018  0.53174616 -0.5363044  -0.51264276  0.50765298]]