In [0]:
filepath = "s3://full-stack-bigdata-datasets/Big_Data/data.csv"
ACCESS_KEY_ID = "AKIAW3MEDQLQ32J2ALOK" # cle du compte student
SECRET_ACCESS_KEY = "thisisnotasecretaccesskey" # secret key du compte student

hadoop_conf = spark._jsc.hadoopConfiguration()
hadoop_conf.set("fs.s3a.access.key", ACCESS_KEY_ID)
hadoop_conf.set("fs.s3a.secret.key", SECRET_ACCESS_KEY)
hadoop_conf.set("fs.s3a.impl","org.apache.hadoop.fs.s3a.S3AFileSystem") 

sales = spark.read.format('csv')\
             .option('header', 'true')\
             .option('inferSchema', 'true')\
             .load(filepath)

In [0]:
from pyspark.sql import functions as F

In [0]:
sales.show(5)

+---------+---------+--------------------+--------+--------------+---------+----------+--------------+
|InvoiceNo|StockCode|         Description|Quantity|   InvoiceDate|UnitPrice|CustomerID|       Country|
+---------+---------+--------------------+--------+--------------+---------+----------+--------------+
|   536365|   85123A|WHITE HANGING HEA...|       6|12/1/2010 8:26|     2.55|     17850|United Kingdom|
|   536365|    71053| WHITE METAL LANTERN|       6|12/1/2010 8:26|     3.39|     17850|United Kingdom|
|   536365|   84406B|CREAM CUPID HEART...|       8|12/1/2010 8:26|     2.75|     17850|United Kingdom|
|   536365|   84029G|KNITTED UNION FLA...|       6|12/1/2010 8:26|     3.39|     17850|United Kingdom|
|   536365|   84029E|RED WOOLLY HOTTIE...|       6|12/1/2010 8:26|     3.39|     17850|United Kingdom|
+---------+---------+--------------------+--------+--------------+---------+----------+--------------+
only showing top 5 rows

In [0]:
sales.printSchema()

root
 |-- InvoiceNo: string (nullable = true)
 |-- StockCode: string (nullable = true)
 |-- Description: string (nullable = true)
 |-- Quantity: integer (nullable = true)
 |-- InvoiceDate: string (nullable = true)
 |-- UnitPrice: double (nullable = true)
 |-- CustomerID: integer (nullable = true)
 |-- Country: string (nullable = true)

In [0]:
sales.describe().toPandas()

,summary,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,count,541909,541909,540455,541909,541909,541909,406829,541909
1,mean,559965.752026781,27623.240210938104,20713.0,9.55224954743324,None,4.6111136260897085,15287.690570239585,None
2,stddev,13428.417280796779,16799.737628427658,None,218.08115785023438,None,96.75985306117963,1713.6003033215982,None
3,min,536365,10002,4 PURPLE FLOCK DINNER CANDLES,-80995,1/10/2011 10:04,-11062.06,12346,Australia
4,max,C581569,m,wrongly sold sets,80995,9/9/2011 9:52,38970.0,18287,Unspecified

In [0]:
sales = sales.filter((F.col("Quantity")>0) & (F.col("UnitPrice")>0)) 
sales.describe().toPandas()
# filter out quantities and unitprices below 0

,summary,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,count,530104,530104,530104,530104,530104,530104,397884,530104
1,mean,559981.4746888812,27591.351654656588,None,10.542037034242338,None,3.907625247122361,15294.423452564064,None
2,stddev,13430.049737665431,16756.848658106595,None,155.52412351063666,None,35.915681104255405,1713.1415604398567,None
3,min,536365,10002,4 PURPLE FLOCK DINNER CANDLES,1,1/10/2011 10:32,0.001,12346,Australia
4,max,A563185,m,ZINC WIRE SWEETHEART LETTER TRAY,80995,9/9/2011 9:52,13541.33,18287,Unspecified

In [0]:
sales = sales.withColumn("InvoiceDateClean", F.to_timestamp(F.col("InvoiceDate"), format="M/d/y H:m"))
sales.show(5)

+---------+---------+--------------------+--------+--------------+---------+----------+--------------+-------------------+
|InvoiceNo|StockCode|         Description|Quantity|   InvoiceDate|UnitPrice|CustomerID|       Country|   InvoiceDateClean|
+---------+---------+--------------------+--------+--------------+---------+----------+--------------+-------------------+
|   536365|   85123A|WHITE HANGING HEA...|       6|12/1/2010 8:26|     2.55|     17850|United Kingdom|2010-12-01 08:26:00|
|   536365|    71053| WHITE METAL LANTERN|       6|12/1/2010 8:26|     3.39|     17850|United Kingdom|2010-12-01 08:26:00|
|   536365|   84406B|CREAM CUPID HEART...|       8|12/1/2010 8:26|     2.75|     17850|United Kingdom|2010-12-01 08:26:00|
|   536365|   84029G|KNITTED UNION FLA...|       6|12/1/2010 8:26|     3.39|     17850|United Kingdom|2010-12-01 08:26:00|
|   536365|   84029E|RED WOOLLY HOTTIE...|       6|12/1/2010 8:26|     3.39|     17850|United Kingdom|2010-12-01 08:26:00|
+---------+---------+--------------------+--------+--------------+---------+----------+--------------+-------------------+
only showing top 5 rows

In [0]:
sales = sales.drop(F.col("InvoiceDate"))

In [0]:
sales.show(5)

+---------+---------+--------------------+--------+---------+----------+--------------+-------------------+
|InvoiceNo|StockCode|         Description|Quantity|UnitPrice|CustomerID|       Country|   InvoiceDateClean|
+---------+---------+--------------------+--------+---------+----------+--------------+-------------------+
|   536365|   85123A|WHITE HANGING HEA...|       6|     2.55|     17850|United Kingdom|2010-12-01 08:26:00|
|   536365|    71053| WHITE METAL LANTERN|       6|     3.39|     17850|United Kingdom|2010-12-01 08:26:00|
|   536365|   84406B|CREAM CUPID HEART...|       8|     2.75|     17850|United Kingdom|2010-12-01 08:26:00|
|   536365|   84029G|KNITTED UNION FLA...|       6|     3.39|     17850|United Kingdom|2010-12-01 08:26:00|
|   536365|   84029E|RED WOOLLY HOTTIE...|       6|     3.39|     17850|United Kingdom|2010-12-01 08:26:00|
+---------+---------+--------------------+--------+---------+----------+--------------+-------------------+
only showing top 5 rows

In [0]:
from pyspark.sql.functions import year, month, dayofmonth, dayofweek, dayofyear, weekofyear

sales.select(F.year(F.col("InvoiceDateClean"))).show(5)

+----------------------+
|year(InvoiceDateClean)|
+----------------------+
|                  2010|
|                  2010|
|                  2010|
|                  2010|
|                  2010|
+----------------------+
only showing top 5 rows

In [0]:
type(sales.groupBy('CustomerID'))

Out[23]: pyspark.sql.group.GroupedData

In [0]:
sales.groupBy('CustomerID').avg().show(5)

+----------+------------------+------------------+---------------+
|CustomerID|     avg(Quantity)|    avg(UnitPrice)|avg(CustomerID)|
+----------+------------------+------------------+---------------+
|     17420| 8.833333333333334| 3.881333333333332|        17420.0|
|     16503| 6.773809523809524| 4.173571428571428|        16503.0|
|     15727|10.149006622516556|3.2481456953642383|        15727.0|
|     17389|35.737089201877936|5.6888262910798115|        17389.0|
|     15447| 9.444444444444445|3.1211111111111114|        15447.0|
+----------+------------------+------------------+---------------+
only showing top 5 rows

In [0]:
sales.groupBy('CustomerID').mean().show(5)

+----------+------------------+------------------+---------------+
|CustomerID|     avg(Quantity)|    avg(UnitPrice)|avg(CustomerID)|
+----------+------------------+------------------+---------------+
|     17420| 8.833333333333334| 3.881333333333332|        17420.0|
|     16503| 6.773809523809524| 4.173571428571428|        16503.0|
|     15727|10.149006622516556|3.2481456953642383|        15727.0|
|     17389|35.737089201877936|5.6888262910798115|        17389.0|
|     15447| 9.444444444444445|3.1211111111111114|        15447.0|
+----------+------------------+------------------+---------------+
only showing top 5 rows

In [0]:
sales.groupBy('customerID').sum().show(5)

+----------+-------------+------------------+---------------+
|customerID|sum(Quantity)|    sum(UnitPrice)|sum(CustomerID)|
+----------+-------------+------------------+---------------+
|     17420|          265|116.43999999999997|         522600|
|     16503|          569|            350.58|        1386252|
|     15727|         3065| 980.9399999999999|        4749554|
|     17389|         7612|1211.7199999999998|        3703857|
|     15447|           85|28.090000000000003|         139023|
+----------+-------------+------------------+---------------+
only showing top 5 rows

In [0]:
sales.groupBy('customerID').mean('Quantity').show(5)

+----------+------------------+
|customerID|     avg(Quantity)|
+----------+------------------+
|     17420| 8.833333333333334|
|     16503| 6.773809523809524|
|     15727|10.149006622516556|
|     17389|35.737089201877936|
|     15447| 9.444444444444445|
+----------+------------------+
only showing top 5 rows

In [0]:
sales.groupBy('customerID').mean('Quantity', 'UnitPrice').show(5)

+----------+------------------+------------------+
|customerID|     avg(Quantity)|    avg(UnitPrice)|
+----------+------------------+------------------+
|     17420| 8.833333333333334| 3.881333333333332|
|     16503| 6.773809523809524| 4.173571428571428|
|     15727|10.149006622516556|3.2481456953642383|
|     17389|35.737089201877936|5.6888262910798115|
|     15447| 9.444444444444445|3.1211111111111114|
+----------+------------------+------------------+
only showing top 5 rows

In [0]:
# This will fail without unpacking!
col_list = ['Quantity', 'UnitPrice']
sales.groupBy('customerID').mean(*col_list).show(5)

+----------+------------------+------------------+
|customerID|     avg(Quantity)|    avg(UnitPrice)|
+----------+------------------+------------------+
|     17420| 8.833333333333334| 3.881333333333332|
|     16503| 6.773809523809524| 4.173571428571428|
|     15727|10.149006622516556|3.2481456953642383|
|     17389|35.737089201877936|5.6888262910798115|
|     15447| 9.444444444444445|3.1211111111111114|
+----------+------------------+------------------+
only showing top 5 rows

In [0]:
sales.groupBy('customerID').count().show(5)

+----------+-----+
|customerID|count|
+----------+-----+
|     17420|   30|
|     16503|   84|
|     15727|  302|
|     17389|  213|
|     15447|    9|
+----------+-----+
only showing top 5 rows

In [0]:
sales.groupBy('customerID').pivot('Quantity').count().limit(5).toPandas()
# this creates a pivot table where rows represent cutomer ids, columns
# represent quantities and the values correspond to the result of the aggregation
# function

,customerID,1,2,3,4,5,6,7,8,9,...,2700,2880,3000,3114,3186,3906,4300,4800,74215,80995
0,16503,5.0,15,6.0,7.0,NaN,17,NaN,11.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,15727,22.0,27,11.0,40.0,5.0,57,NaN,11.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,15447,NaN,1,NaN,NaN,1.0,1,NaN,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,14450,4.0,5,3.0,10.0,2.0,6,1.0,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,17420,1.0,4,NaN,NaN,NaN,4,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [0]:
agg_dict = {'Quantity': 'mean', 'UnitPrice': 'sum'}
sales.groupBy('customerId').agg(agg_dict).show(5)

+----------+------------------+------------------+
|customerId|    sum(UnitPrice)|     avg(Quantity)|
+----------+------------------+------------------+
|     17420|116.43999999999997| 8.833333333333334|
|     16503|            350.58| 6.773809523809524|
|     15727| 980.9399999999999|10.149006622516556|
|     17389|1211.7199999999998|35.737089201877936|
|     15447|28.090000000000003| 9.444444444444445|
+----------+------------------+------------------+
only showing top 5 rows

In [0]:
sales.groupBy('customerId').agg({'*': 'count'}).show(5)

+----------+--------+
|customerId|count(1)|
+----------+--------+
|     17420|      30|
|     16503|      84|
|     15727|     302|
|     17389|     213|
|     15447|       9|
+----------+--------+
only showing top 5 rows

In [0]:
agg_exprs = (F.mean('Quantity'), F.sum('UnitPrice'))
sales.groupBy('customerId').agg(*agg_exprs).show()

+----------+------------------+------------------+
|customerId|     avg(Quantity)|    sum(UnitPrice)|
+----------+------------------+------------------+
|     17420| 8.833333333333334|116.43999999999997|
|     16503| 6.773809523809524|            350.58|
|     15727|10.149006622516556| 980.9399999999999|
|     17389|35.737089201877936|1211.7199999999998|
|     15447| 9.444444444444445|28.090000000000003|
|     14450|             6.025|111.62000000000002|
|     15100|26.666666666666668|32.849999999999994|
|     16916| 3.076923076923077|            317.52|
|     12471| 17.85217391304348|1978.1699999999992|
|     14514| 8.068493150684931| 235.5300000000001|
|     16500|11.181818181818182|            188.32|
|     12626|11.744897959183673| 829.3899999999996|
|     18161|             10.15|291.21000000000004|
|     15967| 2.511904761904762|240.88000000000002|
|     17809|33.721311475409834|            177.25|
|     15738| 17.23699421965318| 366.9700000000001|
|     12393|             12.75|             145.9|
|     16791|          2.384375|            935.13|
|     15296| 9.103092783505154|            674.66|
|     17708|               2.6|110.04000000000002|
+----------+------------------+------------------+
only showing top 20 rows

In [0]:
type(F.mean('Quantity').alias('meanQuantity'))

Out[35]: pyspark.sql.column.Column

In [0]:

sales.groupBy('customerId').agg(
    F.mean('Quantity').alias('meanQuantity'),
    F.sum('UnitPrice').alias('totalPrice')
).show(5)

+----------+------------------+------------------+
|customerId|      meanQuantity|        totalPrice|
+----------+------------------+------------------+
|     17420| 8.833333333333334|116.43999999999997|
|     16503| 6.773809523809524|            350.58|
|     15727|10.149006622516556| 980.9399999999999|
|     17389|35.737089201877936|1211.7199999999998|
|     15447| 9.444444444444445|28.090000000000003|
+----------+------------------+------------------+
only showing top 5 rows

In [0]:
sales.groupBy('customerId').agg((F.sum(F.col("UnitPrice"))/F.sum(F.col("Quantity"))).alias("avg_unit_price")).show(5)

+----------+-------------------+
|customerId|     avg_unit_price|
+----------+-------------------+
|     17420|0.43939622641509424|
|     16503| 0.6161335676625659|
|     15727|0.32004567699836867|
|     17389| 0.1591854965843405|
|     15447| 0.3304705882352942|
+----------+-------------------+
only showing top 5 rows