In [8]:
car_price = ("Ford Mustang", 50000)

In [9]:
car_price[1]

50000

In [10]:
car_price[1] = 30000

TypeError: 'tuple' object does not support item assignment

In [12]:
friends = input("What are the names of your friends? Separate their names by a comma")
amounts = input("How much each of your friends spent? Keep the same order as above and separate by a comma")

list_of_friends = friends.split(",")
list_of_amounts = amounts.split(",")

friends = [
    (list_of_friends[0], list_of_amounts[0]),
    (list_of_friends[1], list_of_amounts[1]),
    (list_of_friends[2], list_of_amounts[2]),
    (list_of_friends[3], list_of_amounts[3])
]

In [13]:
print(friends)

[('Pierre', '345'), (' Jacques', ' 45'), (' Paul', ' 98'), (' Lilly', ' 45')]