In [1]:
from sqlalchemy import create_engine, text
import os
from dotenv import load_dotenv

In [5]:
# Charger les variables d'environnement
load_dotenv('/Users/marie-sophiechenevier/Dropbox/8-Jedha/GitHub/2-Jedha_Fullstack/4_data_collection_management/4_ETL_processes/credentials.env')

# Récupérer les informations de connexion
HOSTNAME = os.getenv("HOSTNAME")
USERNAME = os.getenv("USERNAME")
PASSWORD = os.getenv("PASSWORD")
DBNAME = os.getenv("DBNAME")

# Créer une connexion à la base de données MySQL
engine_mysql = create_engine(f"mysql+mysqlconnector://{USERNAME}:{PASSWORD}@{HOSTNAME}/{DBNAME}", echo=True)

# Afficher les informations sur la connexion
print(engine_mysql)

Engine(mysql+mysqlconnector://MSInTech_Two:***@msintechtwo-firstdb-terminal.cdae84y46zq9.eu-central-2.rds.amazonaws.com/firstdb)

In [6]:
# Exécuter une requête
with engine_mysql.connect() as conn:
    res = conn.execute(text("SELECT * FROM food_trucks;"))
    data = res.fetchall()
    print(data)

2024-09-18 16:07:11,880 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2024-09-18 16:07:11,881 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-09-18 16:07:11,923 INFO sqlalchemy.engine.Engine SELECT @@sql_mode
2024-09-18 16:07:11,924 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-09-18 16:07:11,943 INFO sqlalchemy.engine.Engine SELECT @@lower_case_table_names
2024-09-18 16:07:11,944 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-09-18 16:07:11,978 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-09-18 16:07:11,978 INFO sqlalchemy.engine.Engine SELECT * FROM food_trucks;
2024-09-18 16:07:11,979 INFO sqlalchemy.engine.Engine [generated in 0.01085s] {}
[(1, 'Camion qui fume', 4.5, 'Burgers'), (2, 'Mario Pizza', 3.5, 'Pizzas'), (3, 'Bim Bao', 3.2, 'Thai')]
2024-09-18 16:07:11,990 INFO sqlalchemy.engine.Engine ROLLBACK