In [4]:
from sqlalchemy import create_engine, text
import os
from dotenv import load_dotenv

In [5]:
# Charger les variables d'environnement
load_dotenv('/Users/marie-sophiechenevier/Dropbox/8-Jedha/GitHub/2-Jedha_Fullstack/4_data_collection_management/4_ETL_processes/credentials.env')

# Récupérer les informations de connexion
HOSTNAME = os.getenv("HOSTNAME")
USERNAME = os.getenv("USERNAME")
PASSWORD = os.getenv("PASSWORD")
DBNAME = os.getenv("DBNAME")

# Créer une connexion à la base de données MySQL
engine_mysql = create_engine(f"mysql+mysqlconnector://{USERNAME}:{PASSWORD}@{HOSTNAME}/{DBNAME}", echo=True)

# Afficher les informations sur la connexion
print(engine_mysql)

Engine(mysql+mysqlconnector://MSInTech_Two:***@msintechtwo-firstdb-terminal.cdae84y46zq9.eu-central-2.rds.amazonaws.com/firstdb)

In [6]:
# Exécuter une requête
with engine_mysql.connect() as conn:
    res = conn.execute(text("SELECT * FROM food_trucks;"))
    data = res.fetchall()
    print(data)

2024-09-20 15:09:18,416 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2024-09-20 15:09:18,417 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-09-20 15:09:18,464 INFO sqlalchemy.engine.Engine SELECT @@sql_mode
2024-09-20 15:09:18,465 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-09-20 15:09:18,488 INFO sqlalchemy.engine.Engine SELECT @@lower_case_table_names
2024-09-20 15:09:18,489 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-09-20 15:09:18,522 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-09-20 15:09:18,522 INFO sqlalchemy.engine.Engine SELECT * FROM food_trucks;
2024-09-20 15:09:18,523 INFO sqlalchemy.engine.Engine [generated in 0.01108s] {}
[(1, 'Camion qui fume', 4.5, 'Burgers'), (2, 'Mario Pizza', 3.5, 'Pizzas'), (3, 'Bim Bao', 3.2, 'Thai')]
2024-09-20 15:09:18,542 INFO sqlalchemy.engine.Engine ROLLBACK

In [11]:
# Nouvelle importation recommandée dans SQLAlchemy 2.0+
from sqlalchemy.orm import declarative_base

Base = declarative_base()

# Define our table
from sqlalchemy import Column, Integer, String

class User(Base):
    __tablename__ = 'users'
    
    # Each parameter corresponds to a column in our DB table
    id = Column(Integer, primary_key=True)
    name = Column(String(50), nullable=False)  # Spécification de la longueur maximale à 50
    fullname = Column(String(100), nullable=False)  # Longueur maximale à 100
    nickname = Column(String(50))  # Longueur maximale à 50 (tu peux l'ajuster si nécessaire)
    
    def __repr__(self):
        return "<User(name='{}', fullname='{}', nickname='{}')>".format(self.name, self.fullname, self.nickname)

In [12]:
Base.metadata.create_all(engine_mysql)

2024-09-20 15:14:59,940 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-09-20 15:14:59,953 INFO sqlalchemy.engine.Engine DESCRIBE `firstdb`.`users`
2024-09-20 15:14:59,954 INFO sqlalchemy.engine.Engine [raw sql] {}

2024-09-20 15:14:59,976 INFO sqlalchemy.engine.Engine
CREATE TABLE users (
	id INTEGER NOT NULL AUTO_INCREMENT,
	name VARCHAR(50) NOT NULL,
	fullname VARCHAR(100) NOT NULL,
	nickname VARCHAR(50),
	PRIMARY KEY (id)
)


2024-09-20 15:14:59,981 INFO sqlalchemy.engine.Engine [no key 0.01464s] {}
2024-09-20 15:15:00,358 INFO sqlalchemy.engine.Engine COMMIT

In [13]:
# Create a new instance of User will allow. us to insert a new record later on
ed_user = User(id=1, name='ed', fullname='Ed Jones', nickname='edsnickname')

print(ed_user)

<User(name='ed', fullname='Ed Jones', nickname='edsnickname')>

In [14]:
# Access ed_user name
ed_user.name

'ed'

In [15]:
# Access ed_user nickname
nickname = ed_user.nickname

print(nickname)

edsnickname

In [16]:
john_user = User(id=2, name='John', fullname='John Duff', nickname='johnnickname')
print(john_user)

<User(name='John', fullname='John Duff', nickname='johnnickname')>

In [18]:
# Initialize a sessionmaker
from sqlalchemy.orm import sessionmaker

Session = sessionmaker(bind=engine_mysql)

In [19]:
# Instance Session
session = Session()

# Add values to db
session.add(ed_user)
session.add(john_user)

# Commit the results
session.commit()

2024-09-20 15:28:46,109 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-09-20 15:28:46,146 INFO sqlalchemy.engine.Engine INSERT INTO users (id, name, fullname, nickname) VALUES (%(id)s, %(name)s, %(fullname)s, %(nickname)s)
2024-09-20 15:28:46,147 INFO sqlalchemy.engine.Engine [generated in 0.02570s] [{'id': 1, 'name': 'ed', 'fullname': 'Ed Jones', 'nickname': 'edsnickname'}, {'id': 2, 'name': 'John', 'fullname': 'John Duff', 'nickname': 'johnnickname'}]
2024-09-20 15:28:46,160 INFO sqlalchemy.engine.Engine COMMIT

In [20]:
# Query our table users
user_query = session.query(User)

# Output all the results
users = user_query.all()

2024-09-20 15:33:09,159 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-09-20 15:33:09,189 INFO sqlalchemy.engine.Engine SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.nickname AS users_nickname
FROM users
2024-09-20 15:33:09,190 INFO sqlalchemy.engine.Engine [generated in 0.01873s] {}

In [21]:
users

[<User(name='ed', fullname='Ed Jones', nickname='edsnickname')>,
 <User(name='John', fullname='John Duff', nickname='johnnickname')>]

In [22]:
users[0].name

'ed'

In [23]:
user_query.first()

2024-09-20 15:36:18,887 INFO sqlalchemy.engine.Engine SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.nickname AS users_nickname
FROM users
 LIMIT %(param_1)s
2024-09-20 15:36:18,888 INFO sqlalchemy.engine.Engine [generated in 0.01815s] {'param_1': 1}

In [24]:
user_query.one()

2024-09-20 15:37:24,052 INFO sqlalchemy.engine.Engine SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.nickname AS users_nickname
FROM users
2024-09-20 15:37:24,053 INFO sqlalchemy.engine.Engine [cached since 254.9s ago] {}

MultipleResultsFound: Multiple rows were found when exactly one was required

In [27]:
from sqlalchemy import text

# create a statement
statement = text("SELECT * FROM users WHERE name=:user_name;")
statement

In [28]:
session.query(User).from_statement(statement).params(user_name="ed").all()

2024-09-20 15:47:16,095 INFO sqlalchemy.engine.Engine SELECT * FROM users WHERE name=%(user_name)s;
2024-09-20 15:47:16,096 INFO sqlalchemy.engine.Engine [generated in 0.01367s] {'user_name': 'ed'}

In [29]:
session.query(User).from_statement(statement)\
                    .params(user_name="ed")\
                    .all()

2024-09-20 15:49:28,672 INFO sqlalchemy.engine.Engine SELECT * FROM users WHERE name=%(user_name)s;
2024-09-20 15:49:28,674 INFO sqlalchemy.engine.Engine [cached since 132.6s ago] {'user_name': 'ed'}

In [ ]:
session.query(User).filter(User.name=='ed').all()