In [14]:
from sqlalchemy import create_engine, text
import os
from dotenv import load_dotenv

In [15]:
# Charger les variables d'environnement
load_dotenv('/Users/marie-sophiechenevier/Dropbox/8-Jedha/GitHub/2-Jedha_Fullstack/4_data_collection_management/4_ETL_processes/credentials.env')

# Récupérer les informations de connexion
HOSTNAME = os.getenv("HOSTNAME")
USERNAME = os.getenv("USERNAME")
PASSWORD = os.getenv("PASSWORD")
DBNAME = os.getenv("DBNAME")

# Créer une connexion à la base de données MySQL
engine_mysql = create_engine(f"mysql+mysqlconnector://{USERNAME}:{PASSWORD}@{HOSTNAME}/{DBNAME}", echo=True)

# Afficher les informations sur la connexion
print(engine_mysql)

Engine(mysql+mysqlconnector://MSInTech_Two:***@msintechtwo-firstdb-terminal.cdae84y46zq9.eu-central-2.rds.amazonaws.com/firstdb)

In [16]:
# Exécuter une requête
with engine_mysql.connect() as conn:
    res = conn.execute(text("SELECT * FROM food_trucks;"))
    data = res.fetchall()
    print(data)

2024-09-23 11:08:06,307 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2024-09-23 11:08:06,308 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-09-23 11:08:06,350 INFO sqlalchemy.engine.Engine SELECT @@sql_mode
2024-09-23 11:08:06,351 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-09-23 11:08:06,373 INFO sqlalchemy.engine.Engine SELECT @@lower_case_table_names
2024-09-23 11:08:06,374 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-09-23 11:08:06,408 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-09-23 11:08:06,408 INFO sqlalchemy.engine.Engine SELECT * FROM food_trucks;
2024-09-23 11:08:06,409 INFO sqlalchemy.engine.Engine [generated in 0.01169s] {}
[(1, 'Camion qui fume', 4.5, 'Burgers'), (2, 'Mario Pizza', 3.5, 'Pizzas'), (3, 'Bim Bao', 3.2, 'Thai')]
2024-09-23 11:08:06,426 INFO sqlalchemy.engine.Engine ROLLBACK

In [17]:
# Nouvelle importation recommandée dans SQLAlchemy 2.0+
from sqlalchemy.orm import declarative_base

Base = declarative_base()

# Define our table
from sqlalchemy import Column, Integer, String

class User(Base):
    __tablename__ = 'users'
    
    # Each parameter corresponds to a column in our DB table
    id = Column(Integer, primary_key=True)
    name = Column(String(50), nullable=False)  # Spécification de la longueur maximale à 50
    fullname = Column(String(100), nullable=False)  # Longueur maximale à 100
    nickname = Column(String(50))  # Longueur maximale à 50 (tu peux l'ajuster si nécessaire)
    
    def __repr__(self):
        return "<User(name='{}', fullname='{}', nickname='{}')>".format(self.name, self.fullname, self.nickname)

In [18]:
Base.metadata.create_all(engine_mysql)

2024-09-23 11:08:11,236 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-09-23 11:08:11,249 INFO sqlalchemy.engine.Engine DESCRIBE `firstdb`.`users`
2024-09-23 11:08:11,250 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-09-23 11:08:11,289 INFO sqlalchemy.engine.Engine COMMIT

In [19]:
# Create a new instance of User will allow. us to insert a new record later on
ed_user = User(id=1, name='ed', fullname='Ed Jones', nickname='edsnickname')

print(ed_user)

<User(name='ed', fullname='Ed Jones', nickname='edsnickname')>

In [20]:
# Access ed_user name
ed_user.name

'ed'

In [21]:
# Access ed_user nickname
nickname = ed_user.nickname

print(nickname)

edsnickname

In [22]:
john_user = User(id=2, name='John', fullname='John Duff', nickname='johnnickname')
print(john_user)

<User(name='John', fullname='John Duff', nickname='johnnickname')>

In [23]:
# Initialize a sessionmaker
from sqlalchemy.orm import sessionmaker

Session = sessionmaker(bind=engine_mysql)

In [30]:
# Instance Session
session = Session()

# Add values to db
session.add(ed_user)
session.add(john_user)

# Commit the results
session.commit()

2024-09-23 11:13:49,994 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-09-23 11:13:50,029 INFO sqlalchemy.engine.Engine INSERT INTO users (id, name, fullname, nickname) VALUES (%(id)s, %(name)s, %(fullname)s, %(nickname)s)
2024-09-23 11:13:50,036 INFO sqlalchemy.engine.Engine [generated in 0.02917s] [{'id': 1, 'name': 'ed', 'fullname': 'Ed Jones', 'nickname': 'edsnickname'}, {'id': 2, 'name': 'John', 'fullname': 'John Duff', 'nickname': 'johnnickname'}]
2024-09-23 11:13:50,052 INFO sqlalchemy.engine.Engine ROLLBACK

IntegrityError: (mysql.connector.errors.IntegrityError) 1062 (23000): Duplicate entry '1' for key 'users.PRIMARY'
[SQL: INSERT INTO users (id, name, fullname, nickname) VALUES (%(id)s, %(name)s, %(fullname)s, %(nickname)s)]
[parameters: [{'id': 1, 'name': 'ed', 'fullname': 'Ed Jones', 'nickname': 'edsnickname'}, {'id': 2, 'name': 'John', 'fullname': 'John Duff', 'nickname': 'johnnickname'}]]
(Background on this error at: https://sqlalche.me/e/20/gkpj)

In [32]:
# Si la session a échoué, effectue un rollback pour nettoyer l'état
session.rollback()

# Ensuite, tu peux réessayer d'exécuter ta requête
user_query = session.query(User)
users = user_query.all()

# Afficher les résultats
for user in users:
    print(user)

2024-09-23 11:14:37,657 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-09-23 11:14:37,670 INFO sqlalchemy.engine.Engine SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.nickname AS users_nickname
FROM users
2024-09-23 11:14:37,671 INFO sqlalchemy.engine.Engine [generated in 0.01089s] {}
<User(name='ed', fullname='Ed Jones', nickname='edsnickname')>
<User(name='John', fullname='John Duff', nickname='johnnickname')>

In [33]:
users[0].name

'ed'

In [34]:
user_query.first()

2024-09-23 11:15:09,080 INFO sqlalchemy.engine.Engine SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.nickname AS users_nickname
FROM users
 LIMIT %(param_1)s
2024-09-23 11:15:09,085 INFO sqlalchemy.engine.Engine [generated in 0.02539s] {'param_1': 1}

In [35]:
user_query.one()

2024-09-23 11:15:16,119 INFO sqlalchemy.engine.Engine SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.nickname AS users_nickname
FROM users
2024-09-23 11:15:16,119 INFO sqlalchemy.engine.Engine [cached since 38.46s ago] {}

MultipleResultsFound: Multiple rows were found when exactly one was required

In [36]:
from sqlalchemy import text

# create a statement
statement = text("SELECT * FROM users WHERE name=:user_name;")
statement

In [37]:
session.query(User).from_statement(statement).params(user_name="ed").all()

2024-09-23 11:15:35,950 INFO sqlalchemy.engine.Engine SELECT * FROM users WHERE name=%(user_name)s;
2024-09-23 11:15:35,951 INFO sqlalchemy.engine.Engine [generated in 0.01208s] {'user_name': 'ed'}

In [38]:
session.query(User).from_statement(statement)\
                    .params(user_name="ed")\
                    .all()

2024-09-23 11:15:38,242 INFO sqlalchemy.engine.Engine SELECT * FROM users WHERE name=%(user_name)s;
2024-09-23 11:15:38,243 INFO sqlalchemy.engine.Engine [cached since 2.304s ago] {'user_name': 'ed'}

In [39]:
session.query(User).filter(User.name=='ed').all()

2024-09-23 11:15:40,331 INFO sqlalchemy.engine.Engine SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.nickname AS users_nickname
FROM users
WHERE users.name = %(name_1)s
2024-09-23 11:15:40,332 INFO sqlalchemy.engine.Engine [generated in 0.01142s] {'name_1': 'ed'}

In [40]:
session.query(User).filter(User.name=='ed').one()

2024-09-23 11:16:01,326 INFO sqlalchemy.engine.Engine SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.nickname AS users_nickname
FROM users
WHERE users.name = %(name_1)s
2024-09-23 11:16:01,328 INFO sqlalchemy.engine.Engine [cached since 21.01s ago] {'name_1': 'ed'}

In [41]:
session.query(User.name, User.nickname).filter(User.name=='ed').one()

2024-09-23 11:17:28,342 INFO sqlalchemy.engine.Engine SELECT users.name AS users_name, users.nickname AS users_nickname
FROM users
WHERE users.name = %(name_1)s
2024-09-23 11:17:28,359 INFO sqlalchemy.engine.Engine [generated in 0.09510s] {'name_1': 'ed'}

('ed', 'edsnickname')

In [65]:
from sqlalchemy import Table, Column, Integer, String, MetaData, ForeignKey

meta = MetaData()

students = Table(
	'students', meta,
	Column('id', Integer, primary_key=True),
	Column('name', String(50), nullable=False),
	Column('lastname', String(50), nullable=False),
)

addresses = Table(
    'addresses', meta,
    Column('id', Integer, primary_key=True),
    Column('email_address', String(59)),
    Column("student_id", Integer, ForeignKey("students.id"))
)

In [46]:
meta.create_all(engine_mysql)

2024-09-23 11:40:39,131 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-09-23 11:40:39,151 INFO sqlalchemy.engine.Engine DESCRIBE `firstdb`.`students`
2024-09-23 11:40:39,152 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-09-23 11:40:39,175 INFO sqlalchemy.engine.Engine DESCRIBE `firstdb`.`addresses`
2024-09-23 11:40:39,175 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-09-23 11:40:39,198 INFO sqlalchemy.engine.Engine
CREATE TABLE students (
	id INTEGER NOT NULL AUTO_INCREMENT,
	name VARCHAR(50) NOT NULL,
	lastname VARCHAR(50) NOT NULL,
	PRIMARY KEY (id)
)


2024-09-23 11:40:39,203 INFO sqlalchemy.engine.Engine [no key 0.01372s] {}
2024-09-23 11:40:39,308 INFO sqlalchemy.engine.Engine
CREATE TABLE addresses (
	id INTEGER NOT NULL AUTO_INCREMENT,
	`email:address` VARCHAR(59),
	student_id INTEGER,
	PRIMARY KEY (id),
	FOREIGN KEY(student_id) REFERENCES students (id)
)


2024-09-23 11:40:39,309 INFO sqlalchemy.engine.Engine [no key 0.01173s] {}
2024-09-23 11:40:39,367 INFO sqlalchemy.engine.Engine COMMIT

In [57]:
ins = students.insert().values(id=1, name="Jack", lastname="Johnson")

# Ouvrir la connexion manuellement
conn = engine_mysql.connect()

# Exécuter l'insertion
result = conn.execute(ins)

# Commit pour valider la transaction
conn.commit()

# Fermer la connexion
conn.close()

# Vérifier le résultat
print(result)

2024-09-23 11:58:27,524 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-09-23 11:58:27,524 INFO sqlalchemy.engine.Engine INSERT INTO students (id, name, lastname) VALUES (%(id)s, %(name)s, %(lastname)s)
2024-09-23 11:58:27,525 INFO sqlalchemy.engine.Engine [cached since 712.8s ago] {'id': 1, 'name': 'Jack', 'lastname': 'Johnson'}
2024-09-23 11:58:27,537 INFO sqlalchemy.engine.Engine COMMIT
<sqlalchemy.engine.cursor.CursorResult object at 0x1251e6f20>

In [66]:
values = [
    {'student_id': 1, 'email_address': 'jack@yahoo.com'},
    {'student_id': 1, 'email_address': 'jack@msn.com'}
]

# Insérer les valeurs dans la table addresses
with engine_mysql.connect() as conn:
    conn.execute(addresses.insert(), values)
    conn.commit()  # Commit pour valider les changements

2024-09-23 12:16:29,013 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-09-23 12:16:29,015 INFO sqlalchemy.engine.Engine INSERT INTO addresses (email_address, student_id) VALUES (%(email_address)s, %(student_id)s)
2024-09-23 12:16:29,016 INFO sqlalchemy.engine.Engine [generated in 0.01978s] [{'email_address': 'jack@yahoo.com', 'student_id': 1}, {'email_address': 'jack@msn.com', 'student_id': 1}]
2024-09-23 12:16:29,036 INFO sqlalchemy.engine.Engine COMMIT

In [67]:
with engine_mysql.connect() as conn:
    result = conn.execute(text("SELECT * FROM addresses WHERE email_address IS NULL"))
    for row in result:
        print(row)

2024-09-23 12:18:12,499 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-09-23 12:18:12,501 INFO sqlalchemy.engine.Engine SELECT * FROM addresses WHERE email_address IS NULL
2024-09-23 12:18:12,502 INFO sqlalchemy.engine.Engine [generated in 0.01336s] {}
(5, None, 1)
(6, None, 1)
(7, None, 1)
(8, None, 1)
(9, None, 1)
(10, None, 1)
2024-09-23 12:18:12,516 INFO sqlalchemy.engine.Engine ROLLBACK

In [68]:
with engine_mysql.connect() as conn:
    conn.execute(text("DELETE FROM addresses WHERE email_address IS NULL"))
    conn.commit()

2024-09-23 12:18:24,477 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-09-23 12:18:24,479 INFO sqlalchemy.engine.Engine DELETE FROM addresses WHERE email_address IS NULL
2024-09-23 12:18:24,479 INFO sqlalchemy.engine.Engine [generated in 0.01481s] {}
2024-09-23 12:18:24,491 INFO sqlalchemy.engine.Engine COMMIT

In [69]:
# from sqlalchemy import text

# Créer une requête SQL avec un JOIN
stmt = text("""
    SELECT students.id AS student_id, addresses.id AS address_id, students.name, addresses.email_address 
    FROM students
    JOIN addresses ON students.id = addresses.student_id
    WHERE students.id = 1
""")

# Exécuter la requête
with engine_mysql.connect() as conn:
    result = conn.execute(stmt)

# Afficher les résultats
for row in result:
    print(row)

2024-09-23 12:28:37,918 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-09-23 12:28:37,919 INFO sqlalchemy.engine.Engine
    SELECT students.id AS student_id, addresses.id AS address_id, students.name, addresses.email_address
    FROM students
    JOIN addresses ON students.id = addresses.student_id
    WHERE students.id = 1

2024-09-23 12:28:37,920 INFO sqlalchemy.engine.Engine [generated in 0.01813s] {}
2024-09-23 12:28:37,932 INFO sqlalchemy.engine.Engine ROLLBACK
(1, 11, 'Jack', 'jack@yahoo.com')
(1, 12, 'Jack', 'jack@msn.com')

In [73]:
from sqlalchemy import select

# Créer une requête de sélection avec join
stmt = select(
    students.c.id.label('student_id'),
    addresses.c.id.label('address_id'),
    students.c.name,
    addresses.c.email_address
).join(addresses, students.c.id == addresses.c.student_id)

# Exécuter la requête
with engine_mysql.connect() as conn:
    result = conn.execute(stmt)
    rows = result.fetchall()

# Afficher les résultats
for row in rows:
    print(row)

2024-09-23 12:41:46,050 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-09-23 12:41:46,051 INFO sqlalchemy.engine.Engine SELECT students.id AS student_id, addresses.id AS address_id, students.name, addresses.email_address
FROM students INNER JOIN addresses ON students.id = addresses.student_id
2024-09-23 12:41:46,053 INFO sqlalchemy.engine.Engine [generated in 0.02434s] {}
2024-09-23 12:41:46,067 INFO sqlalchemy.engine.Engine ROLLBACK
(1, 11, 'Jack', 'jack@yahoo.com')
(1, 12, 'Jack', 'jack@msn.com')

In [75]:
#from sqlalchemy import select
import pandas as pd

# Créer une requête pour sélectionner toutes les colonnes de la table "addresses"
stmt = select(addresses)

# Utiliser Pandas pour exécuter la requête et récupérer les résultats dans un DataFrame
df = pd.read_sql(stmt, engine_mysql)

# Afficher les premières lignes du DataFrame
df.head()

2024-09-23 12:59:33,244 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-09-23 12:59:33,248 INFO sqlalchemy.engine.Engine SELECT addresses.id, addresses.email_address, addresses.student_id
FROM addresses
2024-09-23 12:59:33,251 INFO sqlalchemy.engine.Engine [generated in 0.02007s] {}
2024-09-23 12:59:33,294 INFO sqlalchemy.engine.Engine ROLLBACK

   id   email_address  student_id
0  11  jack@yahoo.com           1
1  12    jack@msn.com           1

In [76]:
pd.read_sql("SELECT * FROM addresses;", engine_mysql)

2024-09-23 13:01:25,153 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-09-23 13:01:25,157 INFO sqlalchemy.engine.Engine DESCRIBE `firstdb`.`SELECT * FROM addresses;`
2024-09-23 13:01:25,157 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-09-23 13:01:25,179 INFO sqlalchemy.engine.Engine SELECT * FROM addresses;
2024-09-23 13:01:25,179 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-09-23 13:01:25,195 INFO sqlalchemy.engine.Engine ROLLBACK

   id   email_address  student_id
0  11  jack@yahoo.com           1
1  12    jack@msn.com           1

In [78]:
# create a new column
df["great_new_column"] = 0
df.head()

   id   email_address  student_id  great_new_column
0  11  jack@yahoo.com           1                 0
1  12    jack@msn.com           1                 0

In [81]:
# push this new dataframe to our sql database
df.to_sql(
	"brand_new_table",
	engine_mysql,
	index=False,
	if_exists='replace'
)

2024-09-23 13:06:53,089 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-09-23 13:06:53,128 INFO sqlalchemy.engine.Engine DESCRIBE `firstdb`.`brand_new_table`
2024-09-23 13:06:53,128 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-09-23 13:06:53,151 INFO sqlalchemy.engine.Engine
CREATE TABLE brand_new_table (
	id BIGINT,
	email_address TEXT,
	student_id BIGINT,
	great_new_column BIGINT
)


2024-09-23 13:06:53,155 INFO sqlalchemy.engine.Engine [no key 0.01353s] {}
2024-09-23 13:06:53,219 INFO sqlalchemy.engine.Engine INSERT INTO brand_new_table (id, email_address, student_id, great_new_column) VALUES (%(id)s, %(email_address)s, %(student_id)s, %(great_new_column)s)
2024-09-23 13:06:53,220 INFO sqlalchemy.engine.Engine [generated in 0.01070s] [{'id': 11, 'email_address': 'jack@yahoo.com', 'student_id': 1, 'great_new_column': 0}, {'id': 12, 'email_address': 'jack@msn.com', 'student_id': 1, 'great_new_column': 0}]
2024-09-23 13:06:53,242 INFO sqlalchemy.engine.Engine COMMIT

2

In [83]:
# Let's query it
stmt = text("SELECT * FROM brand_new_table")
with engine_mysql.connect() as conn:
    result = conn.execute(stmt)
result.fetchall()

2024-09-23 13:13:11,262 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-09-23 13:13:11,263 INFO sqlalchemy.engine.Engine SELECT * FROM brand_new_table
2024-09-23 13:13:11,264 INFO sqlalchemy.engine.Engine [generated in 0.02527s] {}
2024-09-23 13:13:11,278 INFO sqlalchemy.engine.Engine ROLLBACK

[(11, 'jack@yahoo.com', 1, 0), (12, 'jack@msn.com', 1, 0)]

In [84]:
pd.read_sql("SELECT * FROM brand_new_table", engine_mysql, index_col="id")

2024-09-23 13:14:14,138 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-09-23 13:14:14,159 INFO sqlalchemy.engine.Engine DESCRIBE `firstdb`.`SELECT * FROM brand_new_table`
2024-09-23 13:14:14,159 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-09-23 13:14:14,180 INFO sqlalchemy.engine.Engine SELECT * FROM brand_new_table
2024-09-23 13:14:14,180 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-09-23 13:14:14,216 INFO sqlalchemy.engine.Engine ROLLBACK

     email_address  student_id  great_new_column
id
11  jack@yahoo.com           1                 0
12    jack@msn.com           1                 0

In [85]:
pd.read_sql("SELECT * FROM addresses", engine_mysql)

2024-09-23 13:15:24,238 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-09-23 13:15:24,239 INFO sqlalchemy.engine.Engine DESCRIBE `firstdb`.`SELECT * FROM addresses`
2024-09-23 13:15:24,240 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-09-23 13:15:24,265 INFO sqlalchemy.engine.Engine SELECT * FROM addresses
2024-09-23 13:15:24,265 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-09-23 13:15:24,298 INFO sqlalchemy.engine.Engine ROLLBACK

   id   email_address  student_id
0  11  jack@yahoo.com           1
1  12    jack@msn.com           1