In [6]:
from sqlalchemy import create_engine, text, MetaData, Table, Column, Integer, String
from dotenv import load_dotenv
import os

In [5]:
# Charger les variables d'environnement
load_dotenv('/Users/marie-sophiechenevier/Dropbox/8-Jedha/GitHub/2-Jedha_Fullstack/4_data_collection_management/4_ETL_processes/credentials.env')

# Récupérer les informations de connexion
HOSTNAME = os.getenv("HOSTNAME")
USERNAME = os.getenv("USERNAME")
PASSWORD = os.getenv("PASSWORD")

# Connexion sans base de données spécifiée
engine = create_engine(f"mysql+mysqlconnector://{USERNAME}:{PASSWORD}@{HOSTNAME}", echo=True)

# Créer la base de données si elle n'existe pas
with engine.connect() as conn:
    conn.execute(text("CREATE DATABASE IF NOT EXISTS msintechtwo_db_exercice"))

# Maintenant, connecter avec la base de données spécifiée
engine = create_engine(f"mysql+mysqlconnector://{USERNAME}:{PASSWORD}@{HOSTNAME}/msintechtwo_db_exercice", echo=True)

# Afficher les informations sur la connexion
print(engine)

2024-09-23 17:33:49,750 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2024-09-23 17:33:49,751 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-09-23 17:33:49,795 INFO sqlalchemy.engine.Engine SELECT @@sql_mode
2024-09-23 17:33:49,796 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-09-23 17:33:49,818 INFO sqlalchemy.engine.Engine SELECT @@lower_case_table_names
2024-09-23 17:33:49,819 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-09-23 17:33:49,854 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-09-23 17:33:49,855 INFO sqlalchemy.engine.Engine CREATE DATABASE IF NOT EXISTS msintechtwo_db_exercice
2024-09-23 17:33:49,856 INFO sqlalchemy.engine.Engine [generated in 0.01162s] {}
2024-09-23 17:33:49,891 INFO sqlalchemy.engine.Engine ROLLBACK
Engine(mysql+mysqlconnector://MSInTech_Two:***@msintechtwo-db-exercice.cdae84y46zq9.eu-central-2.rds.amazonaws.com/msintechtwo_db_exercice)

In [7]:
meta = MetaData()

customers = Table(
    'customers', meta,
    Column('id', Integer, primary_key=True),
    Column('name', String(50), nullable=False),
    Column('country', String(50), nullable=False),
    Column('job', String(50), nullable=False),
    Column('age', String(50), nullable=False)
)

# Créer les tables dans la base de données
meta.create_all(engine)

2024-09-23 17:36:35,431 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2024-09-23 17:36:35,432 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-09-23 17:36:35,476 INFO sqlalchemy.engine.Engine SELECT @@sql_mode
2024-09-23 17:36:35,477 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-09-23 17:36:35,500 INFO sqlalchemy.engine.Engine SELECT @@lower_case_table_names
2024-09-23 17:36:35,501 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-09-23 17:36:35,523 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-09-23 17:36:35,534 INFO sqlalchemy.engine.Engine DESCRIBE `msintechtwo_db_exercice`.`customers`
2024-09-23 17:36:35,535 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-09-23 17:36:35,559 INFO sqlalchemy.engine.Engine
CREATE TABLE customers (
	id INTEGER NOT NULL AUTO_INCREMENT,
	name VARCHAR(50) NOT NULL,
	country VARCHAR(50) NOT NULL,
	job VARCHAR(50) NOT NULL,
	age VARCHAR(50) NOT NULL,
	PRIMARY KEY (id)
)


2024-09-23 17:36:35,573 INFO sqlalchemy.engine.Engine [no key 0.02547s] {}
2024-09-23 17:36:35,634 INFO sqlalchemy.engine.Engine COMMIT

In [8]:
values = [
    {'id': 1, 'name': 'Sauerkraut', 'country': 'Germany', 'job': 'engineer', 'age': '37'},
    {'id': 2, 'name': 'Jones', 'country': 'United Kingdom', 'job': 'journalist', 'age': '52'},
    {'id': 3, 'name': 'Dupont', 'country': 'France', 'job': 'dancer', 'age': '25'}
]

# Insérer les valeurs dans la table customers
with engine.begin() as conn:  # Utilisation de 'begin' pour la transaction
    conn.execute(customers.insert(), values)

2024-09-23 17:42:18,727 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-09-23 17:42:18,761 INFO sqlalchemy.engine.Engine INSERT INTO customers (id, name, country, job, age) VALUES (%(id)s, %(name)s, %(country)s, %(job)s, %(age)s)
2024-09-23 17:42:18,762 INFO sqlalchemy.engine.Engine [generated in 0.02983s] [{'id': 1, 'name': 'Sauerkraut', 'country': 'Germany', 'job': 'engineer', 'age': '37'}, {'id': 2, 'name': 'Jones', 'country': 'United Kingdom', 'job': 'journalist', 'age': '52'}, {'id': 3, 'name': 'Dupont', 'country': 'France', 'job': 'dancer', 'age': '25'}]
2024-09-23 17:42:18,805 INFO sqlalchemy.engine.Engine COMMIT

In [9]:
import plotly.express as px
dataset = px.data.iris()
dataset.head()

   sepal_length  sepal_width  petal_length  petal_width species  species_id
0           5.1          3.5           1.4          0.2  setosa           1
1           4.9          3.0           1.4          0.2  setosa           1
2           4.7          3.2           1.3          0.2  setosa           1
3           4.6          3.1           1.5          0.2  setosa           1
4           5.0          3.6           1.4          0.2  setosa           1

In [11]:
import pandas as pd

In [12]:
# Insérer directement le dataset dans la base de données en tant que table 'iris'
dataset.to_sql('iris', con=engine, if_exists='replace', index=False)

2024-09-23 17:52:56,696 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-09-23 17:52:56,758 INFO sqlalchemy.engine.Engine DESCRIBE `msintechtwo_db_exercice`.`iris`
2024-09-23 17:52:56,759 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-09-23 17:52:56,796 INFO sqlalchemy.engine.Engine
CREATE TABLE iris (
	sepal_length FLOAT(53),
	sepal_width FLOAT(53),
	petal_length FLOAT(53),
	petal_width FLOAT(53),
	species TEXT,
	species_id BIGINT
)


2024-09-23 17:52:56,797 INFO sqlalchemy.engine.Engine [no key 0.01047s] {}
2024-09-23 17:52:56,888 INFO sqlalchemy.engine.Engine INSERT INTO iris (sepal_length, sepal_width, petal_length, petal_width, species, species_id) VALUES (%(sepal_length)s, %(sepal_width)s, %(petal_length)s, %(petal_width)s, %(species)s, %(species_id)s)
2024-09-23 17:52:56,888 INFO sqlalchemy.engine.Engine [generated in 0.01063s] [{'sepal_length': 5.1, 'sepal_width': 3.5, 'petal_length': 1.4, 'petal_width': 0.2, 'species': 'setosa', 'species_id': 1}, {'sepal_length': 4.9, 'sepal_width': 3.0, 'petal_length': 1.4, 'petal_width': 0.2, 'species': 'setosa', 'species_id': 1}, {'sepal_length': 4.7, 'sepal_width': 3.2, 'petal_length': 1.3, 'petal_width': 0.2, 'species': 'setosa', 'species_id': 1}, {'sepal_length': 4.6, 'sepal_width': 3.1, 'petal_length': 1.5, 'petal_width': 0.2, 'species': 'setosa', 'species_id': 1}, {'sepal_length': 5.0, 'sepal_width': 3.6, 'petal_length': 1.4, 'petal_width': 0.2, 'species': 'setosa', 'species_id': 1}, {'sepal_length': 5.4, 'sepal_width': 3.9, 'petal_length': 1.7, 'petal_width': 0.4, 'species': 'setosa', 'species_id': 1}, {'sepal_length': 4.6, 'sepal_width': 3.4, 'petal_length': 1.4, 'petal_width': 0.3, 'species': 'setosa', 'species_id': 1}, {'sepal_length': 5.0, 'sepal_width': 3.4, 'petal_length': 1.5, 'petal_width': 0.2, 'species': 'setosa', 'species_id': 1}  ... displaying 10 of 150 total bound parameter sets ...  {'sepal_length': 6.2, 'sepal_width': 3.4, 'petal_length': 5.4, 'petal_width': 2.3, 'species': 'virginica', 'species_id': 3}, {'sepal_length': 5.9, 'sepal_width': 3.0, 'petal_length': 5.1, 'petal_width': 1.8, 'species': 'virginica', 'species_id': 3}]
2024-09-23 17:52:56,904 INFO sqlalchemy.engine.Engine COMMIT

150

In [13]:
# Établir une connexion et exécuter la requête
with engine.connect() as conn:
    statement = text("SELECT DISTINCT species FROM iris")
    result = conn.execute(statement)
    
    # Récupérer toutes les lignes et les afficher
    species_list = result.fetchall()
    for species in species_list:
        print(species[0])  # Afficher la première colonne de chaque ligne

2024-09-23 18:00:07,627 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-09-23 18:00:07,627 INFO sqlalchemy.engine.Engine SELECT DISTINCT species FROM iris
2024-09-23 18:00:07,628 INFO sqlalchemy.engine.Engine [generated in 0.03327s] {}
setosa
versicolor
virginica
2024-09-23 18:00:07,646 INFO sqlalchemy.engine.Engine ROLLBACK

In [14]:
# Établir une connexion et exécuter la requête
with engine.connect() as conn:
    statement = text("SELECT AVG(sepal_length) AS avg_sepal_length FROM iris")
    result = conn.execute(statement)
    
    # Récupérer le résultat et l'afficher
    average_length = result.scalar()  # Récupère la première colonne du premier résultat
    print(f"The average sepal length among all species is: {average_length}")

2024-09-23 18:02:06,797 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-09-23 18:02:06,798 INFO sqlalchemy.engine.Engine SELECT AVG(sepal_length) AS avg_sepal_length FROM iris
2024-09-23 18:02:06,798 INFO sqlalchemy.engine.Engine [generated in 0.02486s] {}
The average sepal length among all species is: 5.843333333333335
2024-09-23 18:02:06,813 INFO sqlalchemy.engine.Engine ROLLBACK

In [16]:
# Établir une connexion et exécuter la requête
with engine.connect() as conn:
    statement = text("""
        SELECT species, AVG(sepal_length) AS avg_sepal_length
        FROM iris
        GROUP BY species
    """)
    result = conn.execute(statement)
    
    # Récupérer les résultats et les afficher
    for row in result:
        print(f"Species: {row[0]}, Average Sepal Length: {row[1]}")

2024-09-23 18:04:25,525 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-09-23 18:04:25,525 INFO sqlalchemy.engine.Engine
        SELECT species, AVG(sepal_length) AS avg_sepal_length
        FROM iris
        GROUP BY species

2024-09-23 18:04:25,526 INFO sqlalchemy.engine.Engine [cached since 50.38s ago] {}
Species: setosa, Average Sepal Length: 5.005999999999999
Species: versicolor, Average Sepal Length: 5.936
Species: virginica, Average Sepal Length: 6.587999999999998
2024-09-23 18:04:25,538 INFO sqlalchemy.engine.Engine ROLLBACK

In [17]:
# alternative .mappings
with engine.connect() as conn:
    statement = text("""
        SELECT species, AVG(sepal_length) AS avg_sepal_length
        FROM iris
        GROUP BY species
    """)
    result = conn.execute(statement).mappings()  # Récupérer comme dictionnaire
    
    for row in result:
        print(f"Species: {row['species']}, Average Sepal Length: {row['avg_sepal_length']}")

2024-09-23 18:15:52,494 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-09-23 18:15:52,495 INFO sqlalchemy.engine.Engine
        SELECT species, AVG(sepal_length) AS avg_sepal_length
        FROM iris
        GROUP BY species

2024-09-23 18:15:52,495 INFO sqlalchemy.engine.Engine [cached since 737.4s ago] {}
Species: setosa, Average Sepal Length: 5.005999999999999
Species: versicolor, Average Sepal Length: 5.936
Species: virginica, Average Sepal Length: 6.587999999999998
2024-09-23 18:15:52,516 INFO sqlalchemy.engine.Engine ROLLBACK

In [18]:
# Établir une connexion et exécuter la requête
with engine.connect() as conn:
    statement = text("""
        SELECT COUNT(*)
        FROM iris 
        WHERE species = 'virginica' AND sepal_length < 6
    """)
    result = conn.execute(statement)
    
    # Récupérer le résultat
    count = result.scalar()  # Récupère le seul résultat
    print(f"Number of 'virginica' samples with sepal length < 6: {count}")

2024-09-23 18:17:32,496 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-09-23 18:17:32,497 INFO sqlalchemy.engine.Engine
        SELECT COUNT(*)
        FROM iris
        WHERE species = 'virginica' AND sepal_length < 6

2024-09-23 18:17:32,498 INFO sqlalchemy.engine.Engine [generated in 0.03854s] {}
Number of 'virginica' samples with sepal length < 6: 7
2024-09-23 18:17:32,518 INFO sqlalchemy.engine.Engine ROLLBACK

In [20]:
# Établir une connexion et exécuter la requête
with engine.connect() as conn:
    statement = text("""
        SELECT species, COUNT(*) AS count
        FROM iris
        WHERE sepal_length < 6
        GROUP BY species
    """)
    result = conn.execute(statement)
    
    # Récupérer les résultats et les afficher
    for row in result:
        print(f"Species: {row[0]}, Count: {row[1]}")

2024-09-23 18:19:20,964 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-09-23 18:19:20,966 INFO sqlalchemy.engine.Engine
        SELECT species, COUNT(*) AS count
        FROM iris
        WHERE sepal_length < 6
        GROUP BY species

2024-09-23 18:19:20,967 INFO sqlalchemy.engine.Engine [cached since 28.73s ago] {}
Species: setosa, Count: 50
Species: versicolor, Count: 26
Species: virginica, Count: 7
2024-09-23 18:19:20,979 INFO sqlalchemy.engine.Engine ROLLBACK

In [22]:
# alternative
with engine.connect() as conn:
    statement = text("""
        SELECT species, COUNT(*) AS count
        FROM iris
        WHERE sepal_length < 6
        GROUP BY species
    """)
    result = conn.execute(statement).mappings()  # Utilise mappings()
    
    for row in result:
        print(f"Species: {row['species']}, Count: {row['count']}")

2024-09-23 18:19:35,406 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-09-23 18:19:35,408 INFO sqlalchemy.engine.Engine
        SELECT species, COUNT(*) AS count
        FROM iris
        WHERE sepal_length < 6
        GROUP BY species

2024-09-23 18:19:35,409 INFO sqlalchemy.engine.Engine [cached since 43.17s ago] {}
Species: setosa, Count: 50
Species: versicolor, Count: 26
Species: virginica, Count: 7
2024-09-23 18:19:35,427 INFO sqlalchemy.engine.Engine ROLLBACK